/* Skeleton Loader */

.skeleton {
  background-color: #f0f0f0;
  animation: pulse 1.5s infinite ease-in-out;
}

.imageSkeleton {
  height: 100%;
  width: 100%;
  aspect-ratio: 16/9;
  background-color: #ddd;
}

.textSkeleton {
  background-color: #ddd;
  height: 12px;
  border-radius: 4px;
  margin-top: 8px;
  width: 80%;
}

.titleSkeleton {
  height: 20px;
  width: 60%;
}

.skeletonCircle {
  background-color: #ddd;
}

@keyframes pulse {
  0% {
    background-color: #e0e0e0;
  }
  50% {
    background-color: #f0f0f0;
  }
  100% {
    background-color: #e0e0e0;
  }
}

/* Card */

.card {
  overflow: hidden;
  border-radius: 10px;
  background-color: #eee;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  max-width: 650px;
}

.card img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  aspect-ratio: 16/9;
}

.card_body {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 20px;
  height: 100%;
  width: 100%;
  justify-content: center;
}

.character_name {
  font-weight: bold;
  font-size: 24px;
}

.subTitle {
  font-weight: 600;
  margin-bottom: 10px;
}

.status_content {
  display: flex;
  align-items: center;
  gap: 5px;
}

.status_circle {
  content: "";
  width: 9px;
  height: 9px;
  border-radius: 100%;
}

.s_alive {
  background-color: green;
}

.s_dead {
  background-color: red;
}

.s_unknown {
  background-color: blue;
}

@media (width >= 640px) {

  .card {
    flex-direction: row;
  }

  .card img {
    width: 200px;
    aspect-ratio: 1/1;
  }

  .imageSkeleton {
    width: 200px;
    aspect-ratio: 1/1;
  }
}

@media (width >= 768px) {}